* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c86733;
}

#menuBar {
position:absolute;
left: 200px;
top: 50px;
}

.menuItem {
    position: relative;
    width: 150px;
    height: 30px;
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 10px;
    background-color: #EDEDED;
    float:left;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    
}

#slider {
    background-color: #f2ad86;
    height: 5px;
    width: 150px;
    opacity:.8;
    margin-left: 0px;
    border-radius: 1px;
}